# VulnScout Forked Tools - Installation from Local Clones
# Usage: pip install -r requirements-forked.txt
#
# Make sure you:
# 1. Are in the virtual environment: source ~/.vulnscout-env/bin/activate
# 2. Have cloned all tools: bash clone-all-tools.sh ~/vulnscout-forks
# 3. Are in the parent directory of vulnscout-forks/

# Paths are relative - adjust based on your setup
./vulnscout-forks/commix
./vulnscout-forks/ghauri
./vulnscout-forks/wafw00f
./vulnscout-forks/LinkFinder
./vulnscout-forks/paramspider
./vulnscout-forks/arjun
./vulnscout-forks/SubDomainizer
./vulnscout-forks/jwt-tool
./vulnscout-forks/dotdotpwn
./vulnscout-forks/anew
